<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Email confirmation</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Hello, ' + name}"></p>
<p>
    To complete your registration process you need to click the <b>Confirm</b> button
    <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
</p>
<p>
    <a th:href="|http://localhost:8080/api/v1/auth/confirm/${token}|">Confirm</a>
</p>
<p>
    Regards, <br />
    <em th:text="${sign}"></em>
<p th:text="${location}"></p>
</p>
</body>
</html>